* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
main {
    margin-top: -100px;
}
/*title h1*/
.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}
.header {
    width: 595px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.menu__list-item {
    text-decoration: none;
    color: #fff;
    opacity: .8;
}
.menu__list li:nth-child(3) .menu__list-item {
    margin-right: 10px;
    opacity: 1;
}
.menu__list-item:hover {
    text-decoration: underline;
    opacity: 1;
}
.your-life {
    min-height: 744px;
    background: #000 url("../images/bg-image-wrapper.jpg") no-repeat center;
}
.your-life {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 230px;
    text-align: center;
    color: #fff;
}
.your-life__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}
.your-life__text {
    width: 500px;
    margin: 20px 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.btn {
    display: block;
    width: 185px;
    height: 45px;
    padding: 15px 47px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #00AFDB;
}
.btn:active,
button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
.your-life__social-list {
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-top: 185px;
    list-style: none;
}
.your-life__social-list a:hover {
    opacity: .8;
}
.design,
.implementation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1600px;
    margin: 0 auto;
    padding: 120px 146px 140px;
}
.design__content {
    width: 407px;
}
.design__content-title,
.implementation__content-title,
.sign-up__title,
.download__content-title {
    width: 370px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}
.design__content-text,
.community__content-text,
.implementation__content-text,
.download__content-text {
    margin: 20px 0 30px;
    font-size: 14px;
    line-height: 20px;
    color: #4e4e4e;
}
.community {
    padding: 117px 0 140px;
    background-color: #f5f6f7;
}
.community__content-wrapper {
    display: flex;
    align-items: center;
    width: 1600px;
    margin: 0 auto;
    padding-left: 14%;
}
.community__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    height: 175px;
    margin-right: 140px;
}
.community__content-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
}
.community__content-text {
    text-align: center;
}
.community__slider {
    min-width: 895px;
}
.slider-arrows, .community__count {
    position: absolute;
    top: -37px;
    right: 30%;
    z-index: 4;
    font-size: 18px;
    letter-spacing: 5px;
    cursor: pointer;
}
.slider-arrows__left {
    right: 37.6%;
}
.community__count {
    right: 32%;
}
.slick-slide {
}
.slick-list {
    padding: 0 2.5% 0 0;
}
.implementation {
    justify-content: space-between;
    padding: 120px 378px 137px 269px;
}
.implementation__content {
    width: 407px;
}
.implementation .btn {
    width: 180px;
}
.sign-up {
    height: 598px;
    padding-top: 217px;
    background: url("../images/sign-up-bg.jpg") no-repeat center;
    background-size: cover;
}
.sign-up__title {
    width: 390px;
    margin: 0 auto 30px;
    color: #fff;
}
.sign-up__form {
    position: relative;
    width: 406px;
    margin: 0 auto;
}
.sign-up__form-email {
    width: 100%;
    height: 46px;
    padding: 14px 70px 12px 24px;
    border: 0;
}
input[type="email"] {
    color: #373737;
}
.sign-up__form-submit {
    position: absolute;
    right: 0;
    width: 66px;
    height: 46px;
    background: #00afdb url("../images/check.svg") no-repeat center;
    border: 0;
    cursor: pointer;
}
.download {
    padding: 120px 0 180px;
    background-color: #f5f6f7;
}
.download__content {
    width: 470px;
    margin: 0 auto;
    text-align: center;
}
.download__content-title {
    width: 100%;
    margin-bottom: 21px;
}
.download__btn {
    width: 186px;
    height: 50px;
    margin: 0 15px;
    padding: 0 60px 0 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #00afdb url("../images/icon-apple.svg") no-repeat right;
    border: 0;
    cursor: pointer;
    outline: none;
}
.btn-android {
    background: #00afdb url("../images/icon-android.svg") no-repeat right;
}
